body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input,
select,
button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.summary-section {
    margin-top: 30px;
}

.transactions-section {
    margin-top: 30px;
}

#transactions-list {
    list-style: none;
}

#transactions-list li {
    padding: 12px;
    background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 8px;
}
.income {
    border-left: 5px solid green;
}

.expense {
    border-left: 5px solid red;
}